#main-content .post-item {
  border-bottom: 1px dotted #2879d0;
}

#main-content .post-title {
  margin-top: 10px;
}
#main-content .post-title h4 {
  font-size: 20px;
}
#main-content .post-meta {
  margin-left: 6px;
  font-size: 12px;
}
#main-content .post-summary {
  margin: 2px 0 8px 6px;
}
#main-content .post-tag {
  margin: 0 0 8px 6px;
  font-size: 12px;
}
#main-content .post-tag a {
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}